
@charset "UTF-8";

@font-face {
  font-family: "plague-fonts";
  src:url("fonts/plague-fonts.eot");
  src:url("fonts/plague-fonts.eot?#iefix") format("embedded-opentype"),
    url("fonts/plague-fonts.ttf") format("truetype"),
    url("fonts/plague-fonts.svg#plague-fonts") format("svg"),
    url("fonts/plague-fonts.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "plague-fonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "plague-fonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-myspace:before {
  content: "\e000";
}

.icon-soundcloud:before {
  content: "\e001";
}

.icon-spotify:before {
  content: "\e002";
}

.icon-alonetone:before {
  content: "\e003";
}

.icon-amazonmp3:before {
  content: "\e004";
}

.icon-bandcamp:before {
  content: "\e005";
}

.icon-emusic:before {
  content: "\e006";
}

.icon-archive:before {
  content: "\e007";
}

.icon-itunes:before {
  content: "\e008";
}

.icon-napster:before {
  content: "\e009";
}

.icon-rhapsody:before {
  content: "\e00a";
}

.icon-rpm:before {
  content: "\e00b";
}

.icon-reverbnation:before {
  content: "\e00c";
}

.icon-zune:before {
  content: "\e00d";
}

.icon-star:before {
  content: "\e00e";
}

.icon-microphone:before {
  content: "\e00f";
}

.icon-music:before {
  content: "\e010";
}

.icon-cart:before {
  content: "\e011";
}

.icon-link:before {
  content: "\e012";
}

.icon-facebook:before {
  content: "\e013";
}

.icon-google:before {
  content: "\e014";
}

.icon-youtube:before {
  content: "\e015";
}

.icon-twitter:before {
  content: "\e016";
}

.icon-headphones:before {
  content: "\e017";
}

.icon-download:before {
  content: "\e018";
}

.icon-quote:before {
  content: "\e019";
}

